@charset "uft-8";

@media(max-width : 820px){
    #layout {
        overflow-x: hidden;
    }
    #container {
        width : 768px;        
    }
    #menu ul {
        padding-right : 0pt;
        justify-content: center;
    }
    #menu ul li > a {
        padding : 15pt 30pt;
    }
    #sub-menu a {
        font-size : 0.95rem;
    }
    /* --- */
    #title {
        top : 40vh;
    }
    #title h1 {
        font-size : 8rem;
    }
    #title span {
        font-size : 4rem;
        transform: translateY(-40pt);
        padding-left : 18%;
    }
    #side {
        background: white;
        height : 50pt;
        width : 100vw;
        flex-direction: row;
        padding : 0;
        padding-left : 20pt;
        justify-content: space-between;
    }
    #side:hover, #side.hov {
        background: white;
    }
    #side h3 {
        writing-mode: inherit;
        padding : 2pt;
        padding-right :  65pt;
        font-size : 2rem;
        margin : 0;
        width : calc( 100vw - 70pt );
        text-align: center;
    }
    #side > div {
        width : 20pt;
    }
    #side span#side-btn.material-symbols-outlined {
        width : 20pt;
        margin : 0;
        padding : 0 10pt;
        font-size : 3rem;
    }
    #side-menu {
        top : 50pt; left : 0;
        background: rgba(255,255,255,0.95);
        width : 100vw; height : 320pt;
        padding : 15pt 0 0 60pt;
        display : none;
    }
    #side-menu a {
        font-size : 1.3rem;
    }
    /* ---------- */
    #about {
        width : 100%;
        padding : 75pt 15pt 25pt;
    }
    #about .bg-white {
        height : 110%;
    }
    #abM {
        width : 600px;
        height : 250px;
        margin-bottom : 20pt;
        display : initial;
        position : relative;
    }
    #abM > section {
        width : 600px;
        position : absolute;
        margin : 0;
        top : 0; left : 0;
    }
    #abM > section h2 {
        font-size : 2rem;
        color : rgba( 0 0 0 / 0.4 );
    }
    #abM > section h2:hover,
    #abM > section h2.abClick {
        color : #222;
    }
    #abM > section li {
        font-size : 1.3rem;
        padding-left : 10pt;
        margin-bottom : 5pt;
    }
    #profile  ul{ 
        margin-top : 6pt;
    }
    #profile h2 {
        width : 170px;
        height : 40px;
    }
    #edu h2 {
        width : 240px;
        height : 40px;
        position : absolute;
        left : 180px;
    }
    #license h2 {
        width : 170px;
        height : 40px;
        position : absolute;
        left : 430px;
    }
    #license b {
        margin-right : 20pt;
    }
    #edu ul , #license ul {
        display : none;
        position : absolute;
        top : 50px;
    }
    #edu ul span {
        margin-left : 5pt;
    }    
    /* --- */
    #abF {
        width : 600px;
        height : 500px;
        display : initial;
        position : relative;
        margin-top : 20pt;
    }
    #abF > section {
        width : 600px;
        position : absolute;
        margin : 0;
        top : 0; left : 0;
    }
    #abF > section h2 {
        font-size : 2.3rem;
    }
    #abF form {
        width : 600px;
        flex-wrap: wrap;
        padding-left : 30pt
    }
    #abF form > div {
        width : 150px;
        margin : 5pt 25pt 0 0;
    }
    /* ----- */
    #container > section {
        margin-top : 30pt;
    }
    #container > section > h2 {
        font-family: 'TAEBAEKfont';
        font-weight: normal;
        font-size : 2.8rem;
        background: none;
        margin-bottom : 15pt;
    }
    /* ---------- */
    #web {
        width : 100%;
        padding : 80pt 15pt 25pt;
    }
    #web img {
        width : 600px;
        height : 450px;
    }
    #web .bg-white {
        width : 750px;
        height : 950px;
    }
    #slide {
        width : 750px;
        height : 950px;
    }
    #slideArea {
        width : 2250px;
        height : 950px;
        position: relative;
        left : -750px;
    }
    #slideArea > div {
        flex-direction: column;
        width : 750px;
        height : 950px;
    }
    .wb-info {
        margin : 0;
        width : 600px;
    }
    .wb-info h3 {
        font-size : 2rem;
    }
    .wb-info hr {
        width : 98%;
        border-top : 2pt solid #282832;
    }
    .wb-info h3 span {
        font-size : 1.6rem;
        padding-left : 3pt;
    }
    .wb-info ul li {
        font-size : 1.3rem;
    }
    .wb-sub-btn {
        margin-top : 25pt;
    }
    .wb-sub-btn a {
        padding : 10pt 0;
        font-size : 1.05rem;
        border-radius: 50pt;
    }
    /* ---------- */
    #detail {
        width : 100%;
        padding : 80pt 15pt 25pt;
    }
    #dt {
        flex-direction: column-reverse;
        margin-top : 10pt;
    }
    #small {
        display : flex;
    }
    /* ---------- */
    #event {        
        width : 100%;
        padding : 80pt 15pt 25pt;
    }
    #event-design {
        width : 750px;
        height : 950px;
        justify-content: space-between;
        flex-direction: column;
    }
    #et-web {
        flex-direction: column-reverse;
        border-radius: 0;
        border-bottom-right-radius : 50pt;
        padding : 0;
        width : 750px; height : 460px;
        margin : 0;
    }
    #et-web h4 {
        height : 35px;
        font-size : 1.6rem;
        margin : 0;
        padding : 0 ;
        border : 0;
        margin : 0 0 15pt 10pt;
        padding-left : 10px;
        border-left : 3pt solid #222;
        text-align: left;
    }
    #et-web h4 span {
        display : inline;
        margin-left : 10px;
    }
    #et-web  .et-slide-bg {
        width : 750px;
        height : 400px;
    }
    #et-web-slider {
        width: 750px;
        height : 400px;
    }
    #et-web-slide {
        width : 1875px; 
        height : 400px;
        top : 0;
        left : -575px;
        display : flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    #et-web-slide  .et-slide-img {    
        width : 350px;
        height : 350px;
        margin : 0;
        margin-left : 25px;
    }
    /* --- */
    #et-sns {
        flex-direction: column;
        border-radius: 0;
        border-top-left-radius : 50pt;
        padding : 0;
        width : 750px; height : 460px;
        margin : 0;
    }
    #et-sns h4 {
        height : 35px;
        font-size : 1.6rem;
        margin : 0;
        padding : 0 ;
        border : 0;
        margin : 15pt 10pt 0 0;
        padding-right : 10px;
        border-right : 3pt solid #222;
        text-align: right;
    }
    #et-sns h4 span {
        display : inline;
        margin-left : 10px;
    }
    #et-sns  .et-slide-bg {
        width : 750px;
        height : 400px;
    }
    #et-sns-slider {
        width: 750px;
        height : 400px;
    }
    #et-sns-slide {
        width : 1875px; 
        height : 400px;
        top : 0;
        left : -575px;
        display : flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    #et-sns-slide  .et-slide-img {    
        width : 350px;
        height : 350px;
        margin : 0;
        margin-right : 25px;
    }
    /* --------- */
    #contact {
        width : 100%;
        padding : 80pt 15pt 25pt;
    }
}