@charset "utf-8";

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JeonjuCraftMjB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Shrikhand'; ////google web font  link */
div.ui-loader  h1, div.ui-loader span { display : none; }

/* default setting */
* {
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}
html, body {
    color : #222;
    font-family: 'JeonjuCraftGoR';
}
html {
    scroll-behavior : smooth;
}
::-webkit-scrollbar { width : 9px; height : 9px;}
::-webkit-scrollbar-track { background: rgba( 0 0 0 / 0);}
::-webkit-scrollbar-thumb { 
    background: #6667aa;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover { background: #4f4d8e;}
::selection {
    color : white;
    background : #4f4d8e;
}
/* ----------------- */
/* common settiong */
a {
    display : inline-block;
    width : 100%;
    text-decoration: none;
    color : #282832;
}
span {
    display : inline-block;
}
img {
    display : block;
    max-width : 100%;
}
ul, ol {
    list-style : none;
}
span.material-symbols-outlined {
    color : #282832 !important;
}
/* ----------------- */
body {
    background-image: url(../img/container-bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}
#layout {
    margin : 0 auto;
    overflow: hidden;
}
/* layout > container */
#container {
    width : 1536px;
    margin : 0 auto;
    position : relative;
    
}
/* --- */
#home {
    height : 100vh;
    position: relative;
}
#menu {
    width : 100%;
}
#menu ul {
    display : flex;
    justify-content :end;
    padding-right: 20pt;
}
#menu a {
    color : white;
    text-align: center;
    font-weight: bold;
}
#menu a:hover, #menu a.ent {
    background: rgba(79, 77, 142, 0.6);
}
#menu ul li > a {
    padding : 13pt 40pt;
    font-size : 1.3rem;
    letter-spacing: 2pt;
}
#menu ul li:nth-child(2) {
    position : relative;
}
#sub-menu {
    position : absolute;
    width : 100%;
    left : 0;
    display : none;
}
#sub-menu a {
    padding : 12pt 10pt;
    letter-spacing: 1pt;
}
/* --- */
#title {
    position : absolute;
    width : 100%;
    top : 34vh;
    margin : 0 auto;
    text-align: center;
    font-family: 'Shrikhand'; 
    color : white;
    letter-spacing: 3pt;
    text-shadow: 5pt 5pt 0 #4f4d8e;
    cursor : default;
}
#title h1 {
    font-size : 11.5rem;
    font-weight: normal;
}
#title span {
    font-size : 4.5rem;
    width : 100%;
    padding-left : 25%;
    transform: translateY(-55pt);
}
/* --- */
#scroll {
    width : 100%;
    position : absolute;
    bottom : 3vh;
    text-align: center;
}
#scroll a {
    width : 10pt; height : 10pt;
    border-radius: 50%;
    background: white;
    animation : down 2s both infinite;
}
@keyframes down {
    0% { transform: translateY(-8pt); opacity: 0.7;}
    100% { transform: translateY(2spt); opacity: 1;}
}
/* --- */
#side {
    z-index : 10;
    position : fixed;
    top : 0; left : 0;
    height : 100vh;
    width : 50pt;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding-top : 15pt;
    cursor : default;
    display : none;
}
#side:hover, #side.hov {
    background: rgba(255,255,255,0.8);
    color : #222;
}
#side span#side-btn.material-symbols-outlined {
    font-size : 2rem;
    margin-bottom : 10pt;
}
#side h3 {
    writing-mode : vertical-lr;
    letter-spacing: 5pt;
    font-size : 1.5rem;
    padding-top : 5pt;
}
#side-menu {
    position : absolute;
    top : 0; left : 50pt;
    background: rgba(255,255,255,0.8);
    width : 150pt; height : 100vh;
    padding : 35pt 0 0 20pt;
    display : none;
}
#side-menu a {
    padding : 12pt 0;
    color : rgba(0,0,0,0.55);
    transition : 0.4s;
}
#side-menu a:hover {
    color : #222 ;
    transform: translateX(7pt);
}
#side-sub a::before {
    content : "-";
    margin-right : 3pt;
}
/* --------- */
/* about */
#about {
    width : 98%;
    height : 100vh;
    margin : 0 auto;
    padding : 15pt;
}
#about .bg-white {
    background: rgba(255,255,255,0.3);
    width : 100%; height: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 20pt 0;
    border-radius: 20pt;
}
#about section h2 {
    font-size : 1.5rem;
    margin-bottom : 10pt;
}
#abT {
    margin-bottom : 40pt;
}
#abT img {
    width : 70%;
    margin : 0 auto;
}
#abT p {
    text-align: center;
    font-size : 1.3rem;
    margin-top : 10pt;
    font-weight: bold;
}
#abT p mark {
    background: #9c9fc2;
    color : white;
    letter-spacing: 5px;
    padding : 2pt 2pt 2pt 7pt;
}
/* --- */
#abM {
    width : 90%;
    display : flex;
    justify-content: space-around;
    margin-bottom : 25pt;
    cursor : default;
}
#abM section li {
    display : flex;
    padding : 3pt 0;
}
#profile {  flex : 3.5; }
#edu {
    flex : 4;
    margin : 0 20pt;
}
#license { flex : 2.5; }
#edu li {
    flex-direction : column;
    line-height: 130%;
}
#abM section li b { 
    flex : 0.25; 
    padding-left : 7pt;
    border-left : 2pt solid #282832; 
}
#abM section li span { flex : 0.75; }
/* --- */
#abF {  width : 90%; }
#abF form { 
    display : flex; 
    justify-content: space-between;
    padding-left : 20pt;
    width : 75%;
}
#abF form div {
    width : 80pt;
    height : 100pt;
    position: relative;
}
#abF form div p {
    font-size : 1.2rem;
    text-align: center;
    width : 80pt;
    position : absolute;
    bottom  : 0;
    left : -20pt;
}
#abF form div progress {
    width : 80pt;
    appearance : none;
    position : absolute;
    top  : 0;
    left : -20pt;
}
#abF ::-webkit-progress-bar {
    background: white;
    overflow : hidden;
    height : 80pt;
    border-radius: 15pt;
    transform : rotate(-90deg);
}
#abF ::-webkit-progress-value {
    background : #6667aa;
}
/* ---------- */
/* web */
#web {
    width : 1400px;
    height : 100vh;
    padding-top : 30pt;
    display : flex;
    margin : 0 auto;
    flex-direction: column;
    align-items: center;
}
#web h2 {
    display : inline-block;
    font-size : 2.3rem;
    padding :  0 10pt ;
    margin-bottom : 20pt;
    background: linear-gradient( rgba( 0 0 0 / 0) 65% , #6667aa 65% );
}
#web .bg-white {
    background: rgba(255,255,255,0.3);
    width : 1400px;
    height : 85vh;
    display : flex;
    align-items: center;
    justify-content: center;
}
#web img {
    width : 800px ;
    height : 600px;
    background: tomato;
}
#slide {
    width : 1400px;
    height :  700px;
    overflow: hidden;
}
#slideArea {
    width : 4200px;
    height : 700px;
    display : flex;
    position : relative;
}
#slideArea > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 1400px;
    height : 700px;
}
.wb-info {
    margin-left : 40pt;
}
.wb-info h3 {
    font-size : 1.8rem;
    padding-top : 40pt;
    line-height: 120%;
}
.wb-info hr {
    width : 100%;
    border-top : 1.5pt solid #222;
    margin : 15pt 0;
}
.wb-info h3 span {
    display : block;
    font-size : 1.3rem;
    padding-left : 5pt;
    font-weight: normal;
}
.wb-info ul li {
    display : flex;
    width : 100%;
    padding : 5pt 0;
}
.wb-info ul li b {
    flex : 0.25;
}
.wb-info ul li span {
    flex : 0.75;
}
.wb-sub-btn {
    display : flex;
    justify-content: space-between;
    margin-top : 45pt;
}
.wb-sub-btn a {
    width : 30%;
    background: #6667aa;
    color : white;
    text-align: center;
    padding : 5pt 0;
    font-size : 0.85rem;
    border-radius: 50pt;
}
/* ---------- */
#detail {
    width : 85%;
    height : 100vh;
    padding-top : 40pt;
    display : flex;
    margin : 0 auto;
    flex-direction: column;
    align-items: center;
}
#detail h2 {
    display : inline-block;
    font-size : 2.3rem;
    padding :  0 10pt ;
    margin-bottom : 20pt;
    background: linear-gradient( rgba( 0 0 0 / 0) 65% , #6667aa 65% );
}
#dt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#dt button {
    cursor: pointer;
}
#big {
    width :  700px;
    height : 700px;
    position : relative;
}
#big button {
    display: block;
    width :  700px;
    height : 700px;
}
#big button img {
    width : 100%;
}
#dt-info {
    position : absolute;
    top : 0;  left : 0;
    width : 700px;
    height : 700px;
    margin : 0 auto;
    background: rgba(0,0,0,0.4);
    display : none;
}
#dt-info span.material-symbols-outlined {
    margin-right : 5pt;
    color : white !important;
    font-size : 3rem;
    font-weight: bold;
}
#dt-info span:last-child {
    display : block;
    color : white;
    font-size: 1.35rem;
    margin-top : 5pt;
    font-weight: bold;
}
#small button {
    display : block;
    width : 175px;
}
/* ---------- */
#event {
    width : 85%;
    height : 100vh;
    padding-top : 20pt;
    display : flex;
    margin : 0 auto;
    flex-direction: column;
    align-items: center;
}
#event h2 {
    display : inline-block;
    font-size : 2.3rem;
    padding :  0 10pt ;
    margin-bottom : 20pt;
    background: linear-gradient( rgba( 0 0 0 / 0) 65% , #6667aa 65% );
}
#event-design {
    width : 100%;
    display : flex;
    justify-content: center;
}
#et-web {
    display : flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: rgba(255,255,255,0.45);
    border-bottom-right-radius: 60pt;
    padding : 0 20pt;
    width : 550px; height : 750px;
    margin-right : 10pt;
}
#et-web h4 {
    height : 45pt;
    font-size : 1.4rem;
    margin-top : 15pt;
    margin-right : -5pt;
    padding-right : 5pt;
    border-right : 3pt solid #222;
    text-align: right;
    letter-spacing: 1.5pt;
    line-height: 140%;
}
#et-web h4 span {
    display : block;
}
#et-web  .et-slide-bg {
    height : 750px;
    overflow : hidden;
}
#et-web-slider {
    height : 1875px;
}
#et-web-slide {
    width : 350px; height : 350px;
    position : relative;
    top : -575px;
}
#et-web-slide  .et-slide-img {    
    margin-top : 25px;
    width : 350px; height : 350px;
    position : relative;
}
.et-info {
    position: absolute;
    top : 0; left : 0;
    width : 350px; height : 350px;
    background: rgba(0,0,0,0.5);
    box-sizing: content-box;
    font-size : 1.3rem;
    font-weight: bold;
    color : white;
    display : flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.et-info span.material-symbols-outlined {
    color : white !important;
    margin-right : 5pt;
    font-size : 2rem;
}
#et-sns {
    display : flex;
    justify-content: space-between;   
    background: rgba(255,255,255,0.45);
    border-top-left-radius: 100pt;
    padding : 0 20pt;
    width : 550px; height : 750px;
    margin-left : 10pt;
}
#et-sns h4 {
    height : 45pt;
    font-size : 1.4rem;
    margin-top : 670px;
    margin-left : -5pt;
    padding-left : 5pt;
    border-left : 3pt solid #222;
    letter-spacing: 1.5pt;
    line-height: 140%;
}
#et-sns h4 span {
    display : block;
}
#et-sns  .et-slide-bg {
    width : 350px;
    height : 750px;
    overflow : hidden;
}
#et-sns-slider {
    width : 350px;
    height : 1875px;
}
#et-sns-slide {
    width : 350px; height : 1875px;
    position : relative;
    top : -200px;
}
#et-sns-slide  .et-slide-img {
    width : 350px; height : 350px;
    margin-top : 25px;
    position : relative;
}
/* ---------- */
#contact {
    width : 98%;
    height : 100vh;
    padding : 18pt 15pt;
    margin : 0 auto;
    cursor : default; 
}
#contact .bg-white {
    background: rgba(255,255,255,0.3);
    border-radius : 20pt;
    width : 100%; height : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact h2 {
    font-size : 3rem;
    letter-spacing: 5pt;
    line-height: 120%;
}
#contact h2 span.up-circle {
    text-emphasis : dot #4f4d8e;
}
#contact hr {
    width : 350pt;
    border-top : 5pt solid #222;
    margin : 20pt 0 30pt;
}
#contact ul {
    width : 350pt;
    padding-left  : 10pt;
}
#contact ul li {
    display: flex;
    font-size : 1.7rem;
    width : 100%;
    margin-bottom: 20pt;
    margin-left : 3pt;
}
#contact ul li b {
    flex : 0.3;
    padding-left : 10pt;
    border-left : 3.5pt solid #222;
}
#contact ul li span {
    flex : 0.7;
}
#contact ul li a {
    flex : 0.7;
}
#contact ul li a:hover {
    background: #6667aa;
    color : white;
    font-style : italic;
}
/* ---------- */
#big-content {
    position : absolute;
    top : 0; 
    left : 0;
    width : 100%;
    height : 100vh;
    background: rgba(0,0,0,0.85);
    display : none;
}
#big-content img {
    margin : 0 auto;
    position: relative;
    top : 100px;
}
#big-info {
    position : fixed;
    top : 0;
    width : 100%;
    height : 100px;
    background: #000;
    z-index: 15;
    display : flex;
    align-items: center;
    justify-content: center;
}
#big-info  h4 {
    flex : 0.95;
    color : white;
    font-size : 2rem;
    margin : 25pt 0;
    text-align: center;
    display : flex;
    align-items: center;
    justify-content: center;
}
#big-content-btn.material-symbols-outlined {
    flex : 0.05;
    color : white;
    background: none;
    font-size : 4rem;
    width : 100px;
    height : 100px;
    position : absolute;
    top : 0;
    right : 10pt;
}