@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Shrikhand'; ////google web font  link */
div.ui-loader  h1, div.ui-loader span { display : none; }

/* default setting */
* {
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}
html, body {
    color : #282832;
    font-family : "Cafe24Ohsquareair";
}
html {
    scroll-behavior : smooth;
}
::-webkit-scrollbar { width : 0; }
body {
    overflow-x : hidden;
}
::selection {
    color : white;
    background : #4f4d8e;
}
/* ----------------- */
/* common settiong */
a {
    display : inline-block;
    width : 100%;
    text-decoration: none;
    color : #282832;
}
span {
    display : inline-block;
}
img {
    display : block;
    max-width : 100%;
}
ul, ol {
    list-style : none;
}
span.material-symbols-outlined {
    color : #282832 !important;
}
/* ----------------- */
/* layout */
#layout {
    max-width : 1920px;
    /* height : 600vh; */
}
/* layout > home */
#home {
    background-image: url(../img/bg-home.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
}
#menu {
    width : 100%;
}
#menu ul {
    display : flex;
    justify-content :end;
    padding : 5pt 20pt 0 0;
}
#menu a {
    color : white;
    text-align: center;
    font-weight: bold;
}
#menu a:hover, #menu a.ent {
    background: rgba(79, 77, 142, 0.6);
}
#menu ul li > a {
    padding : 15pt 40pt;
    font-size : 1.6rem;
    letter-spacing: 2pt;
}
#menu ul li:nth-child(3) {
    position : relative;
}
#sub-menu {
    position : absolute;
    width : 100%;
    left : 0;
    display : none;
}
#sub-menu a {
    padding : 15pt 10pt;
    font-size : 1.2rem;
    letter-spacing: 1pt;
}
/* --------- */
#title {
    position : absolute;
    top : 36%; left : 22%;
    font-family: 'Shrikhand'; 
    color : white;
    letter-spacing: 3pt;
    text-shadow: 5pt 5pt 0 #4f4d8e;
    cursor : default;
}
#title h1 {
    font-size : 13rem;
    font-weight: normal;
}
#title span {
    font-size : 5rem;
    width : 100%;
    text-align: right;
    transform: translateY(-60pt);
}
/* -------- */
#scroll {
    width : 100%;
    /* margin : 0 auto; */
    position : absolute;
    bottom : 3.2%; left : 45%;
}
#scroll a {
    width : 13pt; height : 13pt;
    border-radius: 50%;
    background: white;
    animation : down 2s both infinite;
}
@keyframes down {
    0% { transform: translateY(-12pt); opacity: 0.7;}
    100% { transform: translateY(0pt); opacity: 1;}
}
/* -------- */
#side {
    position : fixed;
    top : 0; left : 0;
    height : 100vh;
    width : 60pt;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding-top : 15pt;
    cursor : default;
    display : none;
    z-index : 10;
}
#side:hover, #side.hov {
    background: rgba(255,255,255,0.8);
}
#side-menu {
    position : absolute;
    top : 0; left : 60pt;
    background: rgba(255,255,255,0.8);
    width : 200pt; height : 100vh;
    font-size : 1.4rem;
    padding : 50pt 0 0 20pt;
    display : none;
}
#side-menu a {
    padding : 12pt 0;
    color : rgba(0,0,0,0.45);
    transition : 0.4s;
}
#side-menu a:hover {
    color : #282832 ;
    transform: translateX(7pt);
}
#side-sub a::before {
    content : "-";
    margin-right : 3pt;
}
#side span {
    font-size : 3rem;
    margin-bottom : 15pt;
}
#side h3 {
    writing-mode : vertical-lr;
    letter-spacing: 7pt;
    font-size : 2rem;
}
/* --------------------------- */
/* layout > about */
#about {
    background-image: url(../img/bg-about.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
    padding : 15pt;
}
#about .bg-white {
    background: rgba(255,255,255,0.3);
    width : 100%; height: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 30pt 0;
}
#abT {
    margin-bottom : 35pt;
}
#abT img {
    width : 80%;
    margin : 0 auto;
}
#abT p {
    text-align: center;
    font-size : 1.3rem;
    margin-top : 7pt;
    letter-spacing: 1pt;
}
#abT p mark {
    background: #9c9fc2;
    color : white;
    padding : 2pt 5pt;
}
#abM {
    width : 90%;
    display : flex;
    justify-content: space-between;
    margin-bottom : 35pt;
    padding-left : 190pt;
}
#abM section {
    width : 31%;
}
#abM section h2 {
    font-size : 1.8rem;
    margin-bottom : 10pt;
}
#abM section li {
    font-size : 1.2rem;
    display : flex;
    padding : 5pt 0;
}
#abM #edu li {
    flex-direction : column;
}
#abM section li b { 
    flex : 0.25; 
    padding-left : 7pt;
    border-left : 2pt solid #282832; 
}
#abM section li span { flex : 0.75; }
#abF {
    width : 90%;
    padding-left : 190pt;
}
#abF  h2 {
    font-size : 1.8rem;
    margin-bottom : 10pt;
}
#abF form {
    display : flex;
}
#abF form div {
    display : flex;
    flex-direction : column-reverse;
    width : 15%;
}
#abF form div p {
    font-size : 1.15rem;
    text-align: center;
    width : 61%;
    transform :translateY(100pt);
    padding-right : 2pt;
}
#abF form div progress {
    width : 60%;
    appearance : none;
    transform : rotate(-90deg) translateX(-50pt) translateY(-42pt);
}
#abF ::-webkit-progress-bar {
    background: white;
    overflow : hidden;
    height : 130px;
}
#abF ::-webkit-progress-value {
    background : #6667aa;
}
/* layout > web */
#web {
    background-image: url(../img/bg-web.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
    padding : 0 20pt 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#web h2 {
    position : absolute;
    top : 30pt;
    width : 100%;
    text-align: center;
    font-size : 3.5rem;
    font-family: 'Cafe24Ohsquare';
}
#web .bg-white {
    background: rgba(255,255,255,0.3);
    width: 100%; height : 600pt;
    margin-top : 50pt;
}
#slide {
    width : 100%;
    overflow: hidden;
    height :  600pt;
}
#slideArea {
    height : 1800pt;
    display : flex;
    flex-direction: column;
    position : relative;
    top : -1200pt;
}
#slideArea > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 600pt;
}
.wb-info h3 {
    font-size : 2.7rem;
    padding-top : 40pt;
    line-height: 120%;
}
.wb-info hr {
    width : 100%;
    border-top : 2.5pt solid #282832;
    margin : 45pt 0;
}
.wb-info h3 span {
    display : block;
    font-size : 1.8rem;
    padding-left : 5pt;
    font-weight: normal;
}
.wb-info ul li {
    display : flex;
    width : 100%;
    font-size : 1.35rem;
    padding : 5pt 0;
}
.wb-info ul li b {
    flex : 0.25;
}
.wb-info ul li span {
    flex : 0.75;
}
.wb-sub-btn {
    display : flex;
    justify-content: space-between;
    margin-top : 45pt;
}
.wb-sub-btn a {
    font-size : 1.15rem;
    font-weight: bold;
    width : 30%;
    background: #6667aa;
    color : white;
    text-align: center;
    padding : 5pt 0;
    border-radius: 50pt;
}

/* layout > detail */
#detail {
    background-image: url(../img/bg-detail.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
    /* position:relative; */
}
#detail h2 {
    /* position : absolute; */
    padding : 30pt 0;
    width : 100%;
    text-align: center;
    font-size : 3.5rem;
    font-family: 'Cafe24Ohsquare';
}
#dt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#dt button {
    cursor: pointer;
}
#big button {
    display: block;
    width :  800px;
    height : 800px;
}
#big button img {
    width : 100%;
}
#small button {
    display : block;
    width : 200px;
}
#dt-info {
    position: absolute;
    bottom : 20pt; right : 510pt;
    display: flex;
    font-size: 1.4rem;
    background: rgba(0,0,0,0.45);
    padding : 8pt 12pt 5pt;
    border-radius: 50pt;
    color : white;
}
#dt-info span.material-symbols-outlined {
    margin-right : 5pt;
    color : white !important;
    font-size : 2rem;
    transform: translateY(-3pt);
}
#dt-info p {
    font-family: 'Cafe24Ohsquareair';
}

/* layout > event */
#event {
    background-image: url(../img/bg-event.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
}
#event h2 {
    padding : 30pt 0;
    width : 100%;
    text-align: center;
    font-size : 3.5rem;
    font-family: 'Cafe24Ohsquare';
}
#event-design {
    width : 100%;
    height : 80%;
    padding : 10pt 150pt;
    display : flex;
    justify-content: space-between;
}
#et-web {
    display : flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: rgba(255,255,255,0.45);
    border-bottom-right-radius: 100pt;
    padding : 0 20pt;
    width : 750px; height : 900px;
}
#et-web h4 {
    height : 53pt;
    font-size : 1.7rem;
    margin-top : 30pt;
    margin-right : -40pt;
    padding-right : 10pt;
    border-right : 3pt solid #282832;
    text-align: right;
    letter-spacing: 1.5pt;
    line-height: 140%;
}
#et-web  .et-slide-bg {
    height : 900px;
    overflow : hidden;
}
#et-web-slider {
    height : 2500px;
}
#et-web-slide {
    width : 400px; height : 400px;
    position : relative;
    top : -700px;
}
#et-web-slide  .et-slide-img {    
    margin-top : 50px;
    position : relative;
}
.et-info {
    position: absolute;
    top : 0; left : 0;
    width : 400px; height : 400px;
    background: rgba(0,0,0,0.5);
    box-sizing: content-box;
    font-size : 1.5rem;
    font-weight: bold;
    color : white;
    display : flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.et-info span.material-symbols-outlined {
    color : white !important;
    margin-right : 5pt;
    font-size : 2.6rem;
}
#et-sns {
    display : flex;
    justify-content: space-evenly;   
    background: rgba(255,255,255,0.45);
    border-top-left-radius: 100pt;
    padding : 0 20pt;
    width : 750px; height : 900px;
}
#et-sns h4 {
    height : 53pt;
    font-size : 1.7rem;
    margin-top : 800px;
    margin-left : -40pt;
    padding-left : 10pt;
    border-left : 3pt solid #282832;
    letter-spacing: 1.5pt;
    line-height: 140%;
}
#et-sns  .et-slide-bg {
    height : 900px;
    overflow : hidden;
}
#et-sns-slider {
    height : 2500px;
}
#et-sns-slide {
    width : 400px; height : 400px;
    position : relative;
    top : -250px;
}
#et-sns-slide  .et-slide-img {
    margin-top : 50px;
    position : relative;
}
/* layout > contact */
#contact {
    background-image: url(../img/bg-contact.jpg);
    background-position:left top;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    height : 100vh;
    padding : 15pt;
    cursor: default;
}
#contact .bg-white {
    background: rgba(255,255,255,0.3);
    width : 100%; height : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact h2 {
    font-size : 4rem;
    font-family: 'Cafe24Ohsquare';
    letter-spacing: 5pt;
}
#contact h2 q {
    background: linear-gradient(rgba(0,0,0,0) 65% , #9c9fc2 65%);
}
#contact hr {
    width : 350pt;
    border-top : 5pt solid #282832;
    margin : 20pt 0 30pt;
}
#contact ul {
    width : 350pt;
    padding-left  : 10pt;
}
#contact ul li {
    display: flex;
    font-size : 1.6rem;
    width : 100%;
    margin-bottom: 20pt;
}
#contact ul li b {
    flex : 0.3;
    padding-left : 10pt;
    border-left : 2pt solid #282832;
}
#contact ul li span {
    flex : 0.7;
}
#contact ul li a {
    flex : 0.7;
}
#contact ul li a:hover {
    background: #6667aa;
    color : white;
    font-style : italic;
}
/* layout > big-img */
#big-img {
    display : none;
}